.App {
    min-width: 405px;
    max-width: 1100px;
    /* height: 100%; */
    height: 99vh;
    text-align: center;
    border: 3px solid black;
    flex-direction: column;
    display: flex;
    background-color: lightgrey;
}

.ScoreBar {
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.TitleBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
}

.AppBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: black;
}

.ProbNotification {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.Badge {
    /* height: 150px; */
}

.App-header {
    width: 60%;
    background-color: black;
    padding: 5px;
    color: white;
}

.App-bomb {
    animation: App-logo-spin infinite 1s linear;
    height: 40px;
}

.App-title {
    font-size: 25px;
    padding: 10px;
}

.ProbAll {
    /* padding: 10px;
    display: flex;
    flex-direction: column; */
}

.ProbNum {
    font-size: 60px;
    /* margin: 5px; */
    padding: 10px;
}

.ProbSymb {
    font-size: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.ProbSpace {
    /* margin-top: 10%; */
    padding: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ScoreBoard {
    /* margin-top: 10%; */
    font-size: 60px;
    color: green;
    /* margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px; */
}

.KeyBoard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* margin-top: 10%;
    margin-left: 15px;
    margin-right: 15px; */
}

.keyBoardContainer {
    border-top: 3px solid black;
    padding: 20px;
}

.KeyBoardKey {
    width: 60px;
    height: 60px;
    background-color: #222;
    font-size: 25px;
    color: white;
    margin: 5px;
}

.ClearButton {
    /* margin-top: 15px; */
    height: 75px;
    width: 125px;
    background-color: #222;
    font-size: 25px;
    color: white;
}

.keyBoardBreak {
    /* margin-top: 100px;
    margin-bottom: 10px; */
    border-top: 2px solid #222;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
